blurhash==1.1.4
certifi==2024.12.14
charset-normalizer==3.4.1
coverage==7.6.10
decorator==5.1.1
idna==3.10
Mastodon.py==1.8.1
pillow==11.1.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests==2.31.0
six==1.17.0
urllib3==2.3.0
